<attribute-event-mappers>
	<attribute-event-mapper 
		attribute-category="qos.performance.responseTime"
		attribute-name="AvgResponseTime"  
		event-type="AvgResponseTimeEvent" 
		event-alias="event">

		<metadata>
			<property id="source" expression="event.metadata.source" />
			<property id="timestamp" expression="event.metadata.timestamp" />
		</metadata>
		<data>
			<property id="value" expression="event.data.value" />
		</data>
		
	</attribute-event-mapper>
</attribute-event-mappers> 